{% extends "main/base.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'users/css/auth.css' %}" />
{% endblock styles %}

{% block content %}
  <main class="auth">
    <section class="auth__banner">
      <img src="{% static 'img/logo-large.svg' %}"
           alt="Mapetite Logo"
           width="100%"
           height="auto" />
      <p class="auth__subtitle">Manage your business on Mapetite.</p>
    </section>
    <section class="auth__content">
      {% block auth_content %}
      {% endblock auth_content %}
    </section>
  </main>
{% endblock content %}
