{% extends "main/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'users/css/auth.css' %}" />
{% endblock styles %}

{% comment %} Page Meta {% endcomment %}
{% block title %}
    Sign In
{% endblock title %}

{% block description %}
    Sign in to your Mapetite account and access your dashboard.
{% endblock description %}

{% block keywords %}
    sign in, login, user authentication, Mapetite account
{% endblock keywords %}
{% comment %} End Page Meta {% endcomment %}

{% block content %}
    <section class="auth">

        <form method="post" class="auth__form">
            {% csrf_token %}

            <div class="auth__fields">
                {% for field in form.visible_fields %}
                    <div class="auth__field">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
            </div>

            <button type="submit" class="auth__button">Sign In</button>

            {% comment %} Temporary: Should be changed to marketing/landing page contact form {% endcomment %}
            <a href="{% url 'users:sign_in' %}"
               class="auth__link auth__link--contact">Interested in joining? Contact us for a demo!</a>

            <a href="{% url 'users:sign_in' %}"
               class="auth__link auth__link--forgot">Forgot your Password?</a>

            {% comment %} Temporary: For testing only. To be removed later. {% endcomment %}
            {% if user.is_authenticated %}
                <a href="{% url 'users:sign_out' %}">Sign Out</a>
            {% endif %}

        </form>

    </section>
{% endblock content %}
