{% extends "users/auth.html" %}

{% block title %}
  Email Verification Successful
{% endblock title %}

{% block description %}
  Your email has been successfully verified.
{% endblock description %}

{% block keywords %}
  email verification successful, Mapetite
{% endblock keywords %}

{% block auth_content %}
  <div class="auth__form">
    <div class="auth__form-header auth__form-header--center">
      <span class="auth__form-icon">{% include "icons/check.html" %}</span>
      <h2 class="auth__form-title">Email Verified</h2>
      <p class="auth__form-subtitle">
        Your email has been successfully verified. You can now safely close this window and return to the app.
      </p>
    </div>
  </div>
{% endblock auth_content %}
