{% extends "marketing/marketing.html" %}

{% comment %} Page Meta {% endcomment %}
{% block title %}
  Smart City Solutions
{% endblock title %}

{% block description %}
  Discover Mapetite's innovative smart city solutions, designed to enhance urban living through technology and sustainability. Explore our offerings and join the movement towards smarter cities.
{% endblock description %}

{% block keywords %}
  smart city solutions, urban technology, sustainable living, Mapetite innovations, smart city development
{% endblock keywords %}
{% comment %} End Page Meta {% endcomment %}

{% block marketing_content %}
  <section class="marketing__hero">
    <h1>Welcome to Mapetite</h1>
    <p>Your gateway to smart city solutions.</p>
  </section>
{% endblock marketing_content %}
