{% extends "main/base.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'users/css/auth.css' %}" />
{% endblock styles %}

{% block title %}
  Reset Password
{% endblock title %}

{% block description %}
  Reset your Mapetite account password.
{% endblock description %}

{% block keywords %}
  reset password, Mapetite account, user authentication
{% endblock keywords %}

{% block content %}
  <section class="auth">
    <form method="post" class="auth__form">
      {% csrf_token %}

      <p class="auth__text">Enter your email address below and we'll send you a link to reset your password.</p>

      <div class="auth__fields">
        {% for field in form.visible_fields %}
          <div class="auth__field">
            {{ field.label_tag }}
            {{ field }}
          </div>
        {% endfor %}
      </div>

      <button type="submit" class="auth__button">Send Reset Link</button>

      <a href="{% url 'users:sign_in' %}"
         class="auth__link auth__link--forgot">Back to Sign In</a>
    </form>
  </section>
{% endblock content %}
