{% extends "users/auth.html" %}

{% block title %}
  Password Reset Complete
{% endblock title %}

{% block description %}
  Your password has been successfully reset.
{% endblock description %}

{% block keywords %}
  password reset complete, Mapetite
{% endblock keywords %}

{% block auth_content %}
  <div class="auth__form">
    <div class="auth__form-header auth__form-header--center">
      <span class="auth__form-icon">{% include "icons/check.html" %}</span>
      <h2 class="auth__form-title">Password updated</h2>
      <p class="auth__form-subtitle">
        Your password has been reset successfully. You can now sign in with your new password.
      </p>
    </div>

    <br />
    <a href="{% url 'users:sign_in' %}" class="btn auth__button">Go to Sign In</a>
  </div>
{% endblock auth_content %}
