{% extends "users/auth.html" %}
{% load static %}

{% block title %}
  Reset Email Sent
{% endblock title %}

{% block description %}
  Password reset instructions have been sent to your email.
{% endblock description %}

{% block keywords %}
  reset password, email sent, Mapetite
{% endblock keywords %}

{% block auth_content %}
  <form method="post"
        action="{% url 'users:password_reset' %}"
        class="auth__form">

    {% csrf_token %}

    {% if email %}
      <div class="auth__form-header auth__form-header--center">
        <span class="auth__form-icon">{% include "icons/email.html" %}</span>
        <h2 class="auth__form-title">Check your email</h2>
        <p class="auth__form-subtitle">
          We sent a password reset link to <span>{{ email }}</span>. The link expires in {{ timeout_display }}.
        </p>
      </div>

      <br />

      {% if messages %}
        <small class="auth__messages">
          {% for message in messages %}<p class="auth__text auth__error">{{ message }}</p>{% endfor %}
        </small>
      {% endif %}

      <input type="hidden" name="email" value="{{ email }}" />
      <input type="hidden" name="from_resend_page" value="true" />
      <button type="submit" class="btn btn--invert auth__button">Resend Email</button>
    {% else %}
      <div class="auth__form-header auth__form-header--center">
        <span class="auth__email-icon">{% include "icons/email.html" %}</span>
        <h2 class="auth__form-title">Reset your password</h2>
        <p class="auth__form-subtitle">You have not requested a password reset. Click below to request for password reset.</p>
      </div>

      <a href="{% url 'users:password_reset' %}"
         class="btn btn--invert auth__button">Request Password Reset</a>
    {% endif %}

    <a href="{% url 'users:sign_in' %}"
       class="auth__link auth__link--center">Back to Sign In</a>
  </form>
{% endblock auth_content %}
