{% extends "main/base.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'users/css/auth.css' %}" />
{% endblock styles %}

{% block title %}
  Set New Password
{% endblock title %}

{% block description %}
  Enter your new password for your Mapetite account.
{% endblock description %}

{% block keywords %}
  set new password, Mapetite account
{% endblock keywords %}

{% block content %}
  <section class="auth">
    {% if validlink %}
      <form method="post" class="auth__form">
        {% csrf_token %}

        <p class="auth__text">Please enter your new password twice so we can verify you typed it in correctly.</p>

        <div class="auth__fields">
          {% for field in form.visible_fields %}
            <div class="auth__field">
              {{ field.label_tag }}
              {{ field }}
            </div>
          {% endfor %}
        </div>

        <button type="submit" class="auth__button">Change Password</button>
      </form>
    {% else %}
      <div class="auth__form">
        <p class="auth__text">
          The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
        </p>
        <br />
        <a href="{% url 'users:password_reset' %}"
           class="auth__button auth__button--link">Request New Reset</a>
      </div>
    {% endif %}
  </section>
{% endblock content %}
