{% extends "main/base.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'users/css/auth.css' %}" />
{% endblock styles %}

{% block title %}
  Reset Email Sent
{% endblock title %}

{% block description %}
  Password reset instructions have been sent to your email.
{% endblock description %}

{% block keywords %}
  reset password, email sent, Mapetite
{% endblock keywords %}

{% block content %}
  <section class="auth">
    <div class="auth__form">
      <p class="auth__text">
        We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
      </p>
      <br />
      <p class="auth__text">
        If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
      </p>

      <br />

      <a href="{% url 'users:sign_in' %}"
         class="auth__button auth__button--link">Back to Sign In</a>
    </div>
  </section>
{% endblock content %}
