@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --color-primary: hsl(163, 88%, 20%);
  --color-primary-light: hsl(149, 80%, 90%);
  --color-secondary: hsl(193, 82%, 31%);
  --color-secondary-light: hsl(185, 96%, 90%);
  --color-tertiary: hsl(138, 76%, 97%);
  --color-neutral: hsl(215, 28%, 17%);
  --color-grey-100: hsl(220, 14%, 96%);
  --color-grey-400: hsl(218, 11%, 65%);
  --color-grey-600: hsl(220, 9%, 46%);
  --color-border: hsl(220, 13%, 91%);
  --color-white: hsl(0, 0%, 100%);
  --color-error: hsl(0, 84%, 60%);
  --color-warning: hsl(38, 92%, 50%);
  --color-success: hsl(160, 84%, 39%);
  --color-badge-bg: hsl(150, 81%, 90%);
  --color-badge-text: hsl(163, 100%, 19%);

  --font-family: "Inter", sans-serif;
  --font-weight-body: 400;
  --font-weight-label: 500;
  --font-weight-heading: 600;
  --font-weight-heading-bold: 700;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-heading-bold);
}

p {
  font-weight: var(--font-weight-body);
}

a,
label {
  font-weight: var(--font-weight-label);
}

a {
  color: var(--color-secondary);
}

button,
a {
  cursor: pointer;
  text-decoration: none;
}

.btn {
  display: inline-block;
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.75rem;
  font-weight: var(--font-weight-label);
  text-align: center;

  &:hover {
    background-color: color-mix(in srgb, var(--color-primary) 80%, black);
  }
}

.btn--invert {
  background-color: transparent;
  color: var(--color-primary);
  border: 0.125rem solid var(--color-primary);

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
  }
}

.btn--danger {
  background-color: var(--color-error);

  &:hover {
    background-color: color-mix(in srgb, var(--color-error) 80%, black);
  }
}

.badge {
  font-size: 0.875rem;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-weight: var(--font-weight-label);
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  text-align: center;
}

.error-page h1 {
  font-size: 2.5rem;
}

.error-page p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.icon-throbber {
  animation: spin 1.5s linear infinite;
  vertical-align: middle;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}